<!-- TWO COLS DESCRIPTION IMAGE -->
<div class="two-cols-description-image wow fadeIn" data-wow-delay="0.35s">
  <img src="assets/images/about/about-1.jpg" alt="">
</div>
<!-- TWO COLS DESCRIPTION TEXT -->
<div class="two-cols-description-text">
  <div class="two-cols-description-text-inner wow fadeIn" data-wow-delay="0.40s">
    <div class="heading margin-bottom-40">
      <h3>KNOW MORE ABOUT YORKER</h3>
    </div>
    <p>Lorem ipsum ac imperdiet cubilia metus ante, justo turpis aliquam taciti nibh quam bibendum, ullamcorper est tempus curabitur
      morbi ut rutrum interdum Lorem ipsum ac imperdiet cubilia metus ante, justo turpis aliquam taciti nibh quam bibendum,
      ullamcorper est tempus curabitur morbi ut rutrum interdum</p>
    <p>Lorem ipsum ac imperdiet cubilia metus ante, justo turpis aliquam taciti nibh quam bibendum, ullamcorper est tempus curabitur
      morbi ut rutrum interdum Lorem ipsum ac imperdiet cubilia metus ante, justo turpis aliquam taciti nibh quam bibendum,
      ullamcorper est tempus curabitur morbi ut rutrum interdum</p>
    <a href="#" class="btn btn-medium btn-rounded yorker-btn2">Read more</a>
  </div>
</div>
