<div id="about" class="parallax parallax_section2 p-top-90 p-bot-50" data-stellar-background-ratio="0.1">
    <div class="container">
      <div class="row">
        <div class="col-md-11 center-block">
          <div class="col-md-11 wow fadeIn" data-wow-delay="0.30s">
            <div class="heading margin-bottom-50">
              </br>
              </br>
              </br>
              </br>
              </br>
              </br>
              </br>
              </br>
              </br>
              <h2 class="bold-font">MISSION</h2>
              <h3>Creating transformative immersive spaces, fostering the emotions of connection and whimsy, through interactive art experiences.</h3>
              </br>
              <h2 class="bold-font">ABOUT</h2>
              <h3>Photonic House is a pop up light art experience lasting a limited time. Our unique exhibitions fill you with awe, sparking your inner creative. Featured spaces include a Laser Room, Projection Room, Rainbow Room, Performances, and more.</h3>
              </br>
              </br>
              </br>
              </br>
              </br>
              </br>
              </br>
              </br>
  
            </div>
          </div>
        </div>
      </div>
    </div>