<div id="collaborate" class="parallax parallax_section2 p-top-90 p-bot-50" data-stellar-background-ratio="0.1">
  <div class="container">
    <div class="row">
      <div class="col-md-11 center-block">
        <div class="col-md-11 wow fadeIn" data-wow-delay="0.30s">
          <div class="heading margin-bottom-50">
            </br>
            </br>
            </br>
            </br>
            </br>
            </br>
            </br>
            </br>
            </br>
            <h2 class="bold-font">COLLABORATE</h2>
            <h3>Light Artists, Musicians, Modern Dance Performers, Yoga Masters</h3>
            <p>
              <i>Deadline June 30, 2018</i>
            </p>
            </br>
            <a href="https://goo.gl/forms/He4Lx1D9nOyt8nMH2" class="btn btn-medium btn-rounded yorker-btn2" target="_self">SUBMIT PORTFOLIO</a>
            </br>
            </br>
            </br>
            </br>
            </br>
            </br>
            </br>
            </br>

          </div>
        </div>
      </div>
    </div>
  </div>