<div id="experiences" class="parallax parallax_section1 p-top-90 p-bot-50" data-stellar-background-ratio="0.1">
  <div class="container">
    <div class="row">
      <div class="col-md-10 center-block">
        <div class="col-md-12 wow fadeIn" data-wow-delay="0.30s">
          <div class="heading margin-bottom-50">
            </br>
            </br>
            <h2 class="bold-font">EXPERIENCES</h2>
          </div>
        </div>
        <div class="col-md-6 margin-bottom-40 wow fadeIn" data-wow-delay="0.35s">
          <h4 class="bold-font">IMMERSIVE</h4>
          <p> Rainbow Aroma Room • 3D Projection • Infinity Room • Hydroponics </p>
        </div>
        <div class="col-md-6 margin-bottom-40 wow fadeIn" data-wow-delay="0.40s">
          <h4 class="bold-font">INTERACTIVE</h4>
          <p>Geometric Jungle • Ultra Violet Yoga • Sound Bath • Installation Interface</p>
        </div>
        <div class="col-md-6 margin-bottom-40 wow fadeIn" data-wow-delay="0.45s">
          <h4 class="bold-font">UNIQUE</h4>
          <p>Performance Stage</br>
            Intimate Live Music Sessions • Contemporary Dance Features • Artist Workshops • Runway Show</p>
        </div>
        <div class="col-md-6 margin-bottom-40 wow fadeIn" data-wow-delay="0.50s">
          <h4 class="bold-font">STRUCTURAL</h4>
          <p>LED Room • Laser Room • Crystal Shower • Schrödinger's Room</p>
          </br>
          </br>
          </br>
          </br>
        </div>
      </div>
    </div>
  </div>
</div>