<div style="padding-top: 200px;" class="parallax parallax_section2 p-top-60 p-bot-60" data-stellar-background-ratio="0.1"
  style="background-position: 50% -824.006px;">
  <div class="container">
    <div class="row">
      <div class="col-md-10">
        <div class="heading margin-bottom-20">
          <h2 class="bold-font">PHOTONIC HOUSE</h2>
          <div class="subheading">Photonic House is a pop up light art experience lasting a limited time. Our unique exhibitions fill you with awe, sparking your inner creative. Featured spaces include a Laser Room, Projection Room, Rainbow Room, Performances, and more.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="col-md-12 without-padding dark-bg block-content">
  <div class="full-column-box text-left without-padding">
    <div id="accordion">
      <div class="card">
        <div class="card-header" id="headingTwo">
          <h5 class="mb-0">
            <button class="btn btn-medium btn-promo yorker-btn collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false"
              aria-controls="collapseTwo">
              VISITORS [+]
            </button>
          </h5>
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
          <div class="card-body">

            <h3>TICKETS</h3>
            <h4>
              <b>
                ONLY AVAILABLE ONLINE
              </b>
              </br>
              </br>
            </h4>

            <h3>HOW MUCH ARE TICKETS? </h3>
            <p class="faq">
              General Admission: $38
            </br>
              General Admission + Intimate Live Music Session: $38 + $15
            </br>
              Yoga: TBA
            </br>
              Special Events: TBA
          </br>
            </p>

            <h3>HOURS OF OPERATION</h3>
            <p class="faq"> 
          <b>General Hours</b> 
          </br>9AM-10PM (Tuesday - Thursday, Closed Monday)
          </br> 9AM-8PM (Fridays and Saturdays) 
          </br> 9AM-6PM (Sundays)
          </br>
          </br> <b>18+ After Hours</b> 
          </br> 8PM-11PM (Fridays and Saturdays)
          </br>
            </p>

            <h3>ADDRESS</h3>
            <p class="faq">
              Photonic House 
            </br>
            110 S Rio Grande St Salt Lake City, UT 84101
            </p>



            <h3>PARKING</h3>
            <p class="faq">
             You can park in any of garages at The Gateway. There is also street parking.
            </p>


            <h3>HOW LONG WILL THE EXPERIENCE TAKE?</h3>
            <p class="faq">
              We've designed Photonic House to be around a 1 hour experience.
            </p>


            <h3>WHAT IF I'M LATE FOR MY TIME SLOT?</h3>

            <p class="faq">
              You must arrive within the first 20 minutes of the hour slot you purchased (eg. you must arrive before 3:20 p.m. for
              a 3:00 - 4:00 p.m. Ticket). Aim for at least 1hr prior to your entrance. Note your ticket is only valid for the date and time purchased. If you miss your
              timeslot your ticket is no longer valid.
            </p>

            <h3>TICKETS ARE SOLD OUT - HOW CAN I VISIT?</h3>

            <p class="faq">
              Please sign up for our newsletter for updates about future Photonic House locations. Please note that there are no tickets
              available at the door and purchases on third party sites are not allowed. ID's will be checked to match tickets
              to ensure that tickets are not sold on third party websites.
            </p>

            <h3>DO YOU ACCEPT CASH?</h3>

            <p class="faq">
              We are cashless. We do however accept Apple and Samsung Pay in addition to credit and debit cards online.
            </p>


            <h3>WILL I HAVE ENOUGH TIME WITH THE FINAL NIGHT TIME SLOT?</h3>

            <p class="faq">
              Yes! The exhibit will be open past 10pm but please arrive at least 20 minutes of your ticket time as entry doors will close
              without exception.
            </p>


            <h3>HOW LONG WILL IT TAKE TO EXPERIENCE THE EXHIBIT?</h3>

            <p class="faq">
              Photonic House is designed to be around 1 hour of wonder and awe.
            </p>


            <h3>WHAT FORMS OF PAYMENT DOES PHOTONIC HOUSE ACCEPT AT THE GIFT SHOP?</h3>


            <p class="faq">
              We only accepts credit card payments at our gift shop.
            </p>


            <h3>DO YOU OFFER COAT CHECK AND STROLLER STORAGE CHECK?</h3>

            <p class="faq">
              Due to the interactive nature of the exhibitions, strollers are not allowed inside Photonic House as they impact both you
              and your fellow guests' experience. When necessary, we ask that you fold and carry. We do not have dedicated
              stroller space or coat check.
            </p>


            <h3>ARE MINORS ALLOWED?</h3>

            <p class="faq">
              15 years old and under are allowed, but must be accompanied by an adult at all times. 16 - 17 are allowed during all ages
              time.
            </p>

          </div>
        </div>
      </div>


      <div id="accordion">
        <br />
        <div class="card">
          <div class="card-header" id="headingThree">
            <h5 class="mb-0">
              <button class="btn btn-medium btn-promo yorker-btn collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false"
                aria-controls="collapseThree">
                TICKETS AND ADMISSIONS [+]
              </button>
            </h5>
          </div>
          <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
            <div class="card-body">

              <h3>CAN I TRANSFER MY TICKET OVER?</h3>

              <p class="faq">
                Tickets are non transferable. One person in the party must match one of the names on the tickets with a photo ID.
              </p>

              <h3>HOW MANY TICKETS CAN I PURCHASE?</h3>

              <p class="faq">
                Each purchaser is allowed up to 10 tickets at a time.
              </p>


              <h3>DO I NEED TO PRINT MY TICKET?</h3>

              <p class="faq">
                Tickets are mobile and home print only. You must present your ticket on your phone with a valid ID. Name changes are never allowed on tickets and any
                claim from ticket resellers is false. Groups must enter Photonic House together.
              </p>


              <h3>DO YOU REFUND TICKETS OR CHANGE TICKET TIMES?</h3>

              <p class="faq">
                All ticket sales are final and non-refundable. We cannot transfer tickets for any reason as we only a limited amount of people
                in during each time slot. No exceptions can be made.
              </p>


              <h3>WHAT IF I DON'T HAVE THE NAMES OF MY GUESTS?</h3>

              <p class="faq">
                Only one attendee's name (including yours!) needs to match the ticket.
              </p>


              <h3>ARE TICKETS AVAILABLE AT THE DOOR?</h3>

              <p class="faq">
                Tickets are not available at the door; all tickets must be purchased online prior to arrival.
              </p>


            </div>
          </div>
        </div>

        <div id="accordion">
          <br />
          <div class="card">
            <div class="card-header" id="headingFour">
              <h5 class="mb-0">
                <button class="btn btn-medium btn-promo yorker-btn collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false"
                  aria-controls="collapseFour">
                  GROUPS AND PRIVATE EVENTS [+]
                </button>
              </h5>
            </div>
            <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
              <div class="card-body">

                <h3>DO YOU HOST PRIVATE EVENTS OR HAVE CORPORATE PARTNERSHIPS?</h3>

                <p class="faq">
                  Yes, please contact us for private and corporate event information at <a href="mailto:hello@photonichouse.com?Subject=Private%20Event" target="_self"><u>hello@photonichouse.com</u></a> 
                </p>


                <h3>DO YOU OFFER GROUP DISCOUNTS?</h3>

                <p class="faq">
                  We love groups, however we do not offer group discounts at this time. If you are interested in renting out Photonic House
                  for a private tour please contact us at <a href="mailto:hello@photonichouse.com?Subject=Groups" target="_self"><u>hello@photonichouse.com</u></a> 
                </p>

              </div>
            </div>
          </div>


          <div id="accordion">
            <br />
            <div class="card">
              <div class="card-header" id="headingFive">
                <h5 class="mb-0">
                  <button class="btn btn-medium btn-promo yorker-btn collapsed" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false"
                    aria-controls="collapseFive">
                    POLICIES [+]
                  </button>
                </h5>
              </div>

              <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
                <div class="card-body">

                  <h3>IS PHOTOGRAPHY ALLOWED?</h3>

                  <p class="faq">
                    Photography is allowed and encouraged! Commercial or Product shoots, press interviews, media shoots, and all professional
                    video equipment is prohibited without advance approval and accompaniment from a Photonic House representative.
                    Contact <a href="mailto:press@photonichouse.com?Subject=Press%20Request" target="_self"><u>press@photonichouse.com</u></a> for requests.
                  </p>


                  <h3>ARE PETS ALLOWED INSIDE PHOTONIC?</h3>

                  <p class="faq">
                    Animals are not permitted at Photonic House. The only exception is for service animals on a leash and under their owner’s
                    control as authorized by applicable law.
                  </p>



                  <h3>WHERE CAN I GET MORE INFORMATION?</h3>

                  <p class="faq">
                    Follow us on Instagram or on Facebook for more details. If you have additional questions please email us at <a href="mailto:hello@photonichouse.com?Subject=Hello" target="_top"><u>hello@photonichouse.com</u></a>
                  </p>


                  <h3>DO YOU HAVE GIFT CARDS?</h3>

                  <p class="faq">
                    Unfortunately, we do not offer Gift Cards at this time.
                  </p>


                  <h3>CAN I RETURN OR EXCHANGE MERCHANDISE FROM THE GIFT SHOP?</h3>

                  <p class="faq">
                    All sales within Photonic House are final. We do not accept any exchanges or returns.
                  </p>

                </div>
              </div>
            </div>