<div class="full-column clearfix">
  <div class="col-md-12 padding-all-50 dark-bg block-content" style="height: 100%;">
    <div class="full-column-box text-left without-padding wow fadeIn animated" data-wow-delay="0.35s" style="visibility: visible;-webkit-animation-delay: 0.35s; -moz-animation-delay: 0.35s; animation-delay: 0.35s;">

      <h3>
        <p align="center" style="color:#ff7e20">
          PARTNERS
        </p>
      </h3>
      <center>
        <div class="col">
          <a href="https://www.tellomee.com" target="_self">
            <img src="../assets/images/current/tellomee.png"
              width="45%" height="45%" alt="Tellomee">
          </a>
        </br></br>

          <div class="container">
            <div class="row">
                <a href="https://www.vivejuicery.com/" target="_self"><img src="../assets/images/current/vivelogo.png"
                  width="21%" height="21%" alt="Vive Juicery"></a>

                <a href="https://www.yelp.com/" target="_self"><img src="../assets/images/current/yelp1.png"
                  width="30%" height="30%" alt="Yelp"></a>
                </br>
                  <img src="../assets/images/current/onflo-logo.png"
                  width="15%" height="16%" alt="onflo.io">
            </div>

          <div class="container">
            <div class="row">
               
            </div>

            </div>
          </div>
      </center>

      </div>
    </div>
  </div>