<div class="p-top-60 p-bot-60 parallax parallax_section5" data-stellar-background-ratio="0.1" style="background-position: 50% -1965.94px;">
  <div class="container">
    <div class="row">
      <div class="col-md-4 footer-block wow fadeIn animated" data-wow-delay="0.30s" style="visibility: visible;-webkit-animation-delay: 0.30s; -moz-animation-delay: 0.30s; animation-delay: 0.30s;">
        <div class="heading">
          <h3>FOLLOW US</h3>
        </div>
        <a href="https://instagram.com/photonichouse" target="_self">
          <i class="fa fa-instagram"></i> INSTAGRAM</a>
        </br>
        <a href="https://www.facebook.com/Photonic-House-2103356429943644/" target="_self">
          <i class="fa fa-facebook"></i> FACEBOOK</a>
      </div>
      <div class="col-md-4 footer-block wow fadeIn animated" data-wow-delay="0.35s" style="visibility: visible;-webkit-animation-delay: 0.35s; -moz-animation-delay: 0.35s; animation-delay: 0.35s;">
        <div class="heading">
          <h3> GET UPDATES</h3>
        </div>
        <!-- Begin MailChimp Signup Form -->
        <link href="//cdn-images.mailchimp.com/embedcode/slim-10_7.css" rel="stylesheet" type="text/css">
        <style type="text/css">
          #mc_embed_signup {
            background: transparent;
            clear: left;
            font: 10px Arial, sans-serif;
            color: #ff7e20; 
            width: 100%;
          }

          #mc_embed_signup input.button {
            display: block;
            width: 90%;
            min-width: 193px;
            margin: 0 0 10px 0;
            color: #111;
          }

          #mc_embed_signup .button {
            clear: both;
            background-color: #ff7e20;
            border: 0 none;
            border-radius: 4px;
            letter-spacing: .01em;
            color: #111;
            cursor: pointer;
            display: inline-block;
            font-size: 15px;
            height: 32px;
            line-height: 32px;
            margin: 0 5px 10px 0;
            padding: 0;
            text-align: center;
            text-decoration: none;
            vertical-align: top;
            white-space: nowrap;
            width: auto;
            transition: all 0.23s ease-in-out 0s;
          }

          /* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
       We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
        </style>
        <div id="mc_embed_signup">
          <form action="https://photonichouse.us18.list-manage.com/subscribe/post?u=57cc8978f5d28af8a7c368df1&amp;id=4cdeaed362" method="post"
            id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
            <div id="mc_embed_signup_scroll">
              <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="EMAIL" required>
              <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
              <div style="position: absolute; left: -5000px;" width:600px; aria-hidden="true">
                <input type="text" name="b_57cc8978f5d28af8a7c368df1_4cdeaed362" tabindex="-1" value="">
              </div>
              <div class="clear">
                <input type="submit" value="SUBSCRIBE" name="subscribe" id="mc-embedded-subscribe" class="button">
              </div>
            </div>
          </form>
        </div>
        <!--End mc_embed_signup-->
      </div>
      <div class="col-md-4 footer-block wow fadeIn animated" data-wow-delay="0.40s" style="visibility: visible;-webkit-animation-delay: 0.40s; -moz-animation-delay: 0.40s; animation-delay: 0.40s;">
        <div class="heading">
          <h3>QUESTIONS</h3>
        </div>
        <a href="/faq/">FAQ</a>
        </br>
        <a href="/contact/">CONTACT</a>
        </br>
      </div>
    </div>
  </div>
</div>