
        <div class="full-column clearfix">
            <div class="col-md-12 padding-all-50 dark-bg block-content" style="height: 100%;">
              <div class="full-column-box text-left without-padding wow fadeIn" data-wow-delay="0.35s">
                <h4 class="bold-font">COLLABORATE</h4>
                <p>Open Call: Light Artists, Musicians, Modern Dance Performers, DJ's, Yoga Masters</p>
               <p align="center"><a href="https://goo.gl/forms/YXdc3lSls2OVvRPH2" class="btn btn-medium btn-rounded yorker-btn2">SUBMIT PORTFOLIO</a></p>
              </div>
            </div>
          </div>