<div id="faq" class="p-top-90 p-bot-0">
    <div class="container margin-bottom-40">
      <div class="row">
        <div class="col-md-5 center-block wow fadeIn" data-wow-delay="0.30s">
          <div class="heading text-center">
            <h2 class="bold-font">ABOUT US</h2>
            <div class="subheading">Photonic House is a pop-up exhibition featuring immersive Light Art Expereinces. We will be in operation for 1 month month in Salt Lake City for summer 2018. </div>
          </div>
        </div>
      </div>
    </div>