<div style="padding-top: 200px;" class="parallax parallax_section2 p-top-60 p-bot-60" data-stellar-background-ratio="0.1"
  style="background-position: 50% -824.006px;">
  <div class="container">
    <div class="row">
      <div class="col-md-10">
        <div class="heading margin-bottom-20">
          <h2 class="bold-font">Photonic House</h2>
          <div class="subheading">We're a pop-up exhibition featuring immersive Light Art Experiences. We will be in open in August for 1 month in
            Salt Lake City, Utah.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="col-md-12 without-padding dark-bg block-content">
  <div class="full-column-box text-left without-padding">
      <div id="accordion">
          <br />
          <div class="card">
            <div class="card-header" id="headingTwo">
              <h5 class="mb-0">
                <button class="btn btn-medium btn-rounded yorker-btn collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false"
                  aria-controls="collapseTwo">
                  VISITORS
                </button>
              </h5>
            </div>
            </br />
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
              <div class="card-body">

            <p style="color:#ffffff"><h3>TICKETS</h3>
            <h4>
              <b>
                <u>ONLY AVAILABLE ONLINE ONLY</u>
              </b>
            </h4>

            <h3>HOW MUCH ARE TICKETS?</h3>
            To be announced.

            <h3>HOURS OF OPERATION</h3>
            To be announced.

            <h3>ADDRESS</h3>
            To be announced.


            <h3>PARKING</h3>
            To be announced.


            <h3>HOW LONG WILL THE EXPERIENCE TAKE?</h3>
            We've designed Photonic House to be around a 45 minute experience.


            <h3>WHAT TIME DO I NEED TO ARRIVE FOR MY TIMED TICKET?</h3>

            You must arrive within the first 20 minutes of the half hour slot you purchased (eg. you must arrive before 3:50 p.m. for
            a 3:30 - 4:00 p.m. Ticket). Note your ticket is only valid for the date and time purchased. If you miss your
            timeslot your ticket is no longer valid.


            <h3>TICKETS ARE SOLD OUT - HOW CAN I VISIT?</h3>

            Please sign up for our newsletter for updates about future Photonic House locations. Please note that there are no tickets
            available at the door and purchases on third party sites are not allowed. IDs will be checked to match tickets
            to ensure that tickets are not sold on third party websites.


            <h3>DO YOU ACCEPT CASH?</h3>

            We are cashless! We do however accept Apple and Samsung Pay in addition to credit and debit cards online!



            <h3>WILL I HAVE ENOUGH TIME WITH THE FINAL NIGHT TIME SLOT?</h3>

            Yes! The exhibit will be open past 10pm but please arrive within 15 minutes of your ticket time as entry doors will close
            without exception.



            <h3>HOW LONG WILL IT TAKE TO EXPERIENCE THE EXHIBIT?</h3>

            Photonic House is designed to be ~60 minutes of wonder and awe. Please note that the UV Foam Pit is a timed experience in
            order for all our visitors to all be able to enjoy the experience!


            <h3>WHAT FORMS OF PAYMENT DOES PHOTONIC HOUSE ACCEPT AT THE GIFT STORE?</h3>

            We only accepts credit card payments at our gift store.


            <h3>DO YOU OFFER COAT CHECK AND STROLLER STORAGE CHECK?</h3>

            Due to the interactive nature of the exhibitions, strollers are not allowed inside Photonic House as they impact both you
            and your fellow guest’s experience. When necessary, we ask that you fold and carry. We do not have dedicated
            stroller space or coat check.



            <h3>ARE MINORS ALLOWED?</h3>

            15 years old and under are allowed, but must be accompanied by an adult at all times. 16 - 17 are allowed during all ages
            time.
            </p>
          </div>
        </div>
      </div>


      <div id="accordion">
          <br />
          <div class="card">
            <div class="card-header" id="headingTwo">
              <h5 class="mb-0">
                <button class="btn btn-medium btn-rounded yorker-btn collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false"
                  aria-controls="collapseTwo">
                  VISITORS
                </button>
              </h5>
            </div>
            </br />
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
              <div class="card-body">

            <p style="color:#ffffff"><h3>TICKETS</h3>
              Test</p>          
            </div>
            </div>
          </div>