<link href="/assets/css/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
<!-- CUSTOM STYLE CSS-->
<link href="/assets/css/style.css" rel="stylesheet">
<link href="/assets/css/shortcodes/shortcodes.css" rel="stylesheet">
<!-- ANIMATE CSS-->
<link href="/assets/plugins/animate/animate.min.css" rel="stylesheet">
<!-- CSS FOR COLOR SWITCHER -->
<link rel="stylesheet" href="/assets/css/switcher/switcher.css">
<link rel="stylesheet" href="/assets/css/switcher/style1.css" id="colors">
<!-- OWL CAROUSEL -->
<link href="/assets/plugins/owl-carousel/owl.carousel.css" rel="stylesheet" type="text/css">
<link href="/assets/plugins/owl-carousel/owl.theme.css" rel="stylesheet" type="text/css">
<!-- MAGNIFIC POPUP-->
<link href="/assets/plugins/magnific-popup/magnific-popup.css" rel="stylesheet" type="text/css">
<!--CUSTOM FONTS-->
<link href="/assets/plugins/font-awesome/css/font-awesome.css" rel="stylesheet">
<link href="/assets/plugins/line-icons/line-icons.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900" rel="stylesheet">
<link href='http://fonts.googleapis.com/css?family=Merienda:400,700' rel='stylesheet' type='text/css'>
<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
