<div class="parallax parallax_banner4 intro" id="home" data-stellar-background-ratio="0.1">
    <div class="intro-body">
        <div class="container">
            <div class="row">
                <div class="col-md-10 center-block text-center">
                    <h1 class="brand-heading medium-font">
                    </br></br></br>
                    PHOTONIC HOUSE</h1>
                </div>
                <div class="col-md-7 center-block text-center">
                    <p class="intro-text">A POP UP LIGHT ART EXPERIENCE
                    </br></br></br>
                        <a href="http://bit.ly/phwaitlist" class="btn btn-medium btn-rounded yorker-btn2">JOIN WAITLIST</a> 
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>