  <!-- Jquery-->
  <script src="/photonichouse/assets/js/jquery.js"></script>
  <!-- Bootstrap Jquery-->
  <script src="/photonichouse/assets/js/bootstrap/js/bootstrap.min.js"></script>
  <!-- Jquery Easing-->
  <script src="/photonichouse/assets/js/jquery.easing.min.js"></script>
  <!-- Wow Animation -->
  <script src="/photonichouse/assets/plugins/wow/wow.min.js"></script>
  <!-- Smooth Scroll-->
  <script type="text/javascript" src="/photonichouse/assets/plugins/SmoothScroll/SmoothScroll.js"></script>
  <!-- Stellar-->
  <script type="text/javascript" src="/photonichouse/assets/plugins/stellar/jquery.stellar.min.js"></script>
  <!-- Waypoint and Counters-->
  <script type="text/javascript" src="/photonichouse/assets/plugins/counter/waypoints.min.js"></script>
  <script type="text/javascript" src="/photonichouse/assets/plugins/counter/jquery.counterup.min.js"></script>
  <!--Isotope-->
  <script type="text/javascript" src="/photonichouse/assets/plugins/isotope/isotope.pkgd.min.js"></script>
  <!--Magnific Popup-->
  <script type="text/javascript" src="/photonichouse/assets/plugins/magnific-popup/jquery.magnific-popup.min.js"></script>
  <!--Images Load-->
  <script type="text/javascript" src="/photonichouse/assets/plugins/imagesloaded/imagesloaded.pkgd.js"></script>
  <!-- Owl Carousel-->
  <script type="text/javascript" src="/photonichouse/assets/plugins/owl-carousel/owl.carousel.min.js"></script>
  <!-- NIVO LIGHTBOX-->
  <script type="text/javascript" src="/photonichouse/assets/plugins/nivo-lightbox/nivo-lightbox.js"></script>
  <!--Visible-->
  <script type="text/javascript" src="/photonichouse/assets/plugins/visible/visible.js"></script>
  <!--Fitvids-->
  <script type="text/javascript" src="/photonichouse/assets/plugins/fitvids/fitvids.js"></script>
  <!-- Google Maps-->
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAl-EDTJ5_uU3zBIX7-wNTu-qSZr1DO5Dw"></script>
  <script type="text/javascript" src="/photonichouse/assets/js/map.js"></script>
  <!-- Recaptcha-->
  <script src='https://www.google.com/recaptcha/api.js'></script>
  <!-- Contact-->
  <script src="/photonichouse/assets/js/contact.js"></script>
  <!-- switcher js -->
  <script src="/photonichouse/assets/js/switcher.js"></script>
  <!--YTPlayer-->
  <script type="text/javascript" src="/photonichouse/assets/plugins/YTPlayer/jquery.mb.YTPlayer.min.js"></script>
  <!--Custom JS-->
  <script src="/photonichouse/assets/js/custom.js"></script>
  <script>
    new WOW().init();
    jQuery(document).ready(function () {
      $(".player").mb_YTPlayer();
    });
  </script>