<div id="skills" class="p-top-90 p-bot-90 light-gray-bg">
      <div class="container">
        <div class="row margin-top-50">
          <div class="col-md-6 wow fadeIn" data-wow-delay="0.30s">
            <div class="heading">
              <h4 class="bold-font text-uppercase">who we are</h4>
            </div>
            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum
              nibh, ut fermentum massa justo sit amet risus etiam sem...Donec id elit non mi porta </p>
            <p> feugiat ligula ut nisi facilisis tincidunt. Aliquam convallis, ex eu venenatis sollicitudin, tellus ipsum ultricies
              quam, id vulputate sem lorem eget lorem. Morbi nisl neque, feugiat ligula ut nisi facilisis tincidunt. Aliquam
              convallis, ex eu venenatis sollicitudin, tellus ipsum ultricies quam, id vulputate sem lorem eget lorem. Morbi
              nisl neque,</p>
          </div>
          
