<div id="new_project" class="p-top-90 p-bot-0">
    <div class="container margin-bottom-50">
      <div class="row">
        <div class="col-md-5 center-block wow fadeIn" data-wow-delay="0.30s">
          <div class="heading text-center">
            <h2 class="bold-font">NEW PROJECT</h2>
            <div class="subheading">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum</div>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid two-cols-description-row dark-bg">